@import url(variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "letra5";
  background: linear-gradient(120deg, hsl(32, 100%, 65%), #f1f094);
  color: #2d2d2d;
  font-size: 14px;
  padding: 20px;
}

.container {
  width: 20vw;
  height: 59vh;
  display: flex;
  flex-direction: column;
  border: 2px solid #ec7f1f;
  background-color: #fffdfb;
  border-radius: 2px;
}

.img-container img {
  width: 19.8vw;
  
}
.img-container{
  display:flex;
  justify-content: center;
}

.all {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;;
}
.data{
  scroll-behavior: auto;
}

.list ul {
  list-style: none;  /* Para quitar los puntos que se hacen en la lista */
  display: flex;    
  gap: 10px;          
  padding: 0;
  margin: 0;
}

.list li a {
  text-decoration: none; /* Quita el subrayado que se hace en la list de los nums*/
  padding: 8px 12px;
  background-color: #f0f0f0;
  border-radius: 5px;
  color: #333;
  font-weight: bold;

}

.list li a:hover {
  background-color: #dcdcdc;
}

.list{
  position: relative;
  top: 20px;
  margin-left:44vw;

}


